body
{
    box-shadow: 100%;
    background-size: cover;
}

button
{
    background-color: plum;
    width: 200px;
    height: 25px;
}
h1{
    font-size: 50px;
    font-style: italic;
    background-color: crimson;
    color: black;
}